*,
::after,
::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	color-scheme: light dark;
	--userColor: #00ffb3;
	--botColor: #646cff;
}

body {
	background-color: #252525;
	position: relative;
}

.app {
	display: flex;
	flex-direction: column;
	height: 100vh;
	align-items: center;
}

/* Header */
.header {
	display: block;
	text-align: center;
	height: 15vh;
	width: 100%;
	margin-top: 100px;
}
.logo-wrapper {
	position: absolute;
	top: 20px;
	left: 20px;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 20px;
}
.openaiLogo {
	width: 100px;
	height: 100px;
	background-color: var(--botColor);
	padding: 5px;
	border-radius: 50%;
	border: 5px inset var(--userColor);
	filter: drop-shadow(0px 0px 5px var(--userColor));
}
.logo-wrapper:hover {
	filter: drop-shadow(0px 0px 5px var(--userColor));
}
.headerTitle {
	color: var(--botColor);
}
.headerSubTitle {
	color: var(--userColor);
	font-size: 1rem;
	margin: 5px 0;
}
nav {
	margin: 20px 0;
}
.navBtns {
	background-color: var(--botColor);
	border: 3px solid var(--userColor);
	color: white;
	margin: 0 20px;
	padding: 8px;
	border-radius: 10px;
	font-weight: 600;
	text-decoration: none;
}
.navBtns:hover {
	background-color: var(--userColor);
	color: black;
	border: 3px solid var(--botColor);
	filter: drop-shadow(0px 0px 5px var(--botColor));
}
.navBtns:active {
	background-color: #00c58a;
	border: 3px inset #575edb;
}
/* ================================== */

/* Home */
.home {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 20px;
	width: 100%;
	height: 80vh;
}
.glia {
	width: 200px;
	height: 200px;
	border-radius: 50%;
}
.chat-bubble {
	position: relative;
	background-color: var(--botColor);
	padding: 10px 15px;
	border-radius: 10px;
	height: fit-content;
	width: 100px;
	word-wrap: break-word;
}
.message {
	color: white;
	font-size: 1.5rem;
	text-align: center;
}
.chat-bubble::after {
	content: "";
	position: absolute;
	top: 50%;
	left: -10px;
	transform: translateY(-50%);
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-right: 10px solid var(--botColor);
}
.fade-in {
	opacity: 1;
	transition: opacity 1s ease-in-out;
}

.fade-out {
	opacity: 0;
	transition: opacity 1s ease-in-out;
}
.highlight {
	color: var(--userColor);
}
.chatboxLink {
	color: var(--userColor);
	font-weight: 600;
}
/* ================================== */

/* Chatbox */
.chat {
	background-color: #535353;
	border: 3px inset rgb(102, 102, 102);
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	height: 55vh;
	width: 90%;
	max-width: 1000px;
	align-items: flex-start;
	justify-content: flex-start;
	overflow-y: scroll;
	padding: 20px;
	margin: 30px 0;
}
.user-chat,
.bot-chat {
	margin: 15px 0;
	padding: 10px;
	border-radius: 15px;
	word-wrap: break-word;
	max-width: 60%;
}
.user-chat {
	background-color: var(--botColor);
	color: var(--userColor);
	align-self: flex-end;
}
.bot-chat {
	background-color: var(--userColor);
	color: var(--botColor);
	align-self: flex-start;
}
.input-wrapper {
	width: 90%;
	max-width: 1000px;
	position: fixed;
	bottom: 30px;
	display: flex;
	gap: 10px;
}
input {
	width: calc(100% - 55px);
	border-radius: 20px;
	padding: 10px;
	font-size: 1.1rem;
}
.gliachat {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	filter: drop-shadow(0px 0px 4px var(--userColor));
}
button {
	background-color: transparent;
	border: none;
}
.submit-btn {
	background-color: transparent;
	border: none;
	width: 50px;
	height: 50px;
	cursor: pointer;
	padding: 5px;
}
.submit-btn:hover {
	background-color: #252525;
	border-radius: 50%;
	border: 1px inset #00ffb3;
}
.submit-btn:active {
	background-color: #535353;
	border: 2px inset #00ffb3;
}
/* ================================== */

@media screen and (min-width: 1024px) {
	.header {
		margin-top: 0px;
	}
	.chat {
		height: 65vh;
	}
	.chat-bubble {
		width: 300px;
	}
	.glia {
		width: 350px;
		height: 350px;
	}
}
